<?xml version="1.0" encoding="utf-8"?>

<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>

    <TargetFramework>net10.0</TargetFramework>

    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PlatformTarget>x64</PlatformTarget>

    <!--
      Sunucuda ayrıca .NET Runtime kurulmasını
      zorunlu tutmayacağız.
    -->
    <SelfContained>true</SelfContained>

    <!--
      Managed bağımlılıkları ana executable içine toplar.
    -->
    <PublishSingleFile>true</PublishSingleFile>

    <!--
      Runtime'a ait native dosyaların da gerektiğinde
      tek executable içinden çıkarılmasını sağlar.
    -->
    <IncludeNativeLibrariesForSelfExtract>
      true
    </IncludeNativeLibrariesForSelfExtract>

    <!--
      İlk çalışma süresini azaltabilir.
    -->
    <PublishReadyToRun>true</PublishReadyToRun>

    <!--
      Reflection ve dinamik DI kullanılan yapılarda ilk
      fazda trimming uygulamıyoruz.
    -->
    <PublishTrimmed>false</PublishTrimmed>

    <!--
      PDB bilgisini assembly içine alır.
    -->
    <DebugType>embedded</DebugType>
  </PropertyGroup>
</Project>